.btn {
  margin: 3px;
  padding: 3px;
  border: 1px solid black;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.btn:hover {
  background-color: #EEE;
}

.u-border {
  border: 1px solid black;
}

.u-flex {
  display: flex;
}

.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
