<!DOCTYPE html>
<html>
  <head>
    <title>Jobble</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.auth0.com/js/auth0/8.8/auth0.min.js"></script>
  </head>

  <body>
    <div id="root" />
  </body>
</html>
